<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="JetRunConfigurationType">
    <option name="MAIN_CLASS_NAME" value="uk.co.coroutines.enviropi.server.MainKt" />
    <module name="EnviroPi.server.jvmMain" />
    <target name="pi@raspberrypi:22" />
    <shortenClasspath name="NONE" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>